

.statistics h2{
    text-align: center;
}

.statistics-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item {
    margin:20px;
    padding: 20px;
    color: white;
    background-color: #537daa;
    border-radius: 5px;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    

}
.stat-item h3{
    text-align: center;
    margin-top: 0;
}

.stat-item span{
    text-align: center;
}

.stat-item ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
.stat-item li {
    padding:0;
    margin:0;
    text-align: center;
    list-style: none;;
}
